Source: qmlplane
Section: games
Priority: optional
Maintainer: Jonah Brüchert <jbb.mail@gmx.de>
Build-Depends: debhelper (>= 11),
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               libqt5svg5-dev,
               qtmultimedia5-dev
Standards-Version: 4.1.3
Homepage: https://github.com/olegyadrov/qmlplane
Vcs-Git: https://github.com/jbbgameich/qmlplane-packaging.git
Vcs-Browser: https://github.com/jbbgameich/qmlplane-packaging

Package: qmlplane
Architecture: any
Depends: qml-module-box2d | qml-box2d,
         ${shlibs:Depends},
         ${misc:Depends},
Description: demo game built with Qt Quick 2 and qml-box2d
 This demo game showcases the capabilities of Qt Quick 2
 .
 The graphics in the game are entirely vector, so it will look good on any device.
